# beau albritton
- senior uvm student

look at this cool logbase2 function i wrote at 2am i hope you like it
```cpp
int logbase2(int x)
{
    int i = 0;
    while (x > 0)
    {
        i = i + 1;
        x = x >> 1;
    }
    return (i - 1);
}
```
