<script lang="ts">
import Projects from '$lib/components/projects.svelte';
import ProjectView from '$lib/components/projects/ProjectView.svelte';
</script>

# projects 
i have a lot of projects

<ProjectView/>

